.header {
  display: flex;
  margin-bottom: 20px;
}

.header__logo_hanover {
  width: 220px;
}

.header__logo_show {
  width: 280px;
}

@media screen and (max-width: 1024px) {
  .header__logo_hanover {
    max-width: 120px;
  }

  .header__logo_show {
    max-width: 180px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo_hanover {
    max-width: 320px;
    width: 240px;
  }

  .header__logo_show {
    max-width: 380px;
  }
}

@media screen and (max-width: 517px) {
  .header__logo_hanover {
    max-width: 160px;
  }

  .header__logo_show {
    max-width: 210px;
  }
}
