.header {
  display: flex;
  margin-bottom: 20px;
}

.header__logo_hanover {
  width: 220px;
}

.header__logo_show {
  width: 280px;
}

@media screen and (max-width: 1024px) {
  .header__logo_hanover {
    width: 120px;
  }

  .header__logo_show {
    width: 180px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo_hanover {
    width: 220px;
  }

  .header__logo_show {
    width: 280px;
  }
}
